PCB/Board Schematics/Kicad_schematics_pico (recommended)/OF1 v1-backups/
PCB/Board Schematics/Kicad_schematics_pico (recommended)/production/
PCB/Board Schematics/Kicad_schematics_pico (recommended)/_autosave*
PCB/Board Schematics/Kicad_schematics_integrated_rp2040 (recommended)/
